@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.card {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 300px;
	/* background: #5c5858; */
	background-color: #11966e;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.2s ease;
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
}

.card:hover {
	rotate: 1deg;
	transform: scale(1.02);
}

.name {
	width: 90%;
	min-height: 0;
	height: 10%;
	background-color: #faf8f8;
	color: #5c5858;
	font-family: "Grandstander";
	font-weight: bold;
	font-size: clamp(8px, 1vw, 16px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-top: 3%;
	padding-inline: 6px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.image {
	width: 90%;
	height: 35%;
	background: radial-gradient(circle, #49a5d6, #377394);
	border: 2px solid white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}

.image > img {
	width: 90%;
	height: auto;
	transition: all 0.2s ease;
}

.image > img:hover {
	transform: scale(1.1);
}

.scale {
	width: 90%;
	min-height: 0;
	height: 10%;
	background-color: #faf8f8;
	color: #5c5858;
	font-family: "Grandstander";
	font-weight: bold;
	font-size: clamp(7px, 1.15vw, 18px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-top: 3%;
	white-space: nowrap;
}

.origin {
	width: 90%;
	min-height: 0;
	height: 10%;
	background-color: #faf8f8;
	color: #5c5858;
	font-family: "Grandstander";
	font-weight: bold;
	font-size: clamp(7px, 1.15vw, 18px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-top: 3%;
	white-space: nowrap;
}

.card > button {
	width: clamp(22px, 2.7vw, 40px);
	height: clamp(22px, 2.7vw, 40px);
	background-color: #afadad;
	border: none;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
	cursor: pointer;
	transition: all 0.2s ease;
}

.card > button > svg {
	width: 65%;
	height: 65%;
}

.card > button:hover {
	background-color: #c5c3c3;
	transform: translateY(-2px);
}

.card > button:active {
	transform: translateY(1px);
}
