# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/

# Vite
.vite/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Nếu muốn commit file mẫu env thì tạo .env.example
# .env.example KHÔNG ignore


# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# IDE / VS Code
# =========================
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.iml


# =========================
# OS
# =========================
.DS_Store
Thumbs.db


# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo


# =========================
# Coverage
# =========================
coverage/


# =========================
# Cache
# =========================
.cache/
.parcel-cache/
.eslintcache

# =========================
# Spring Boot / Java
# =========================
target/
*.class

# Maven
.mvn/timing.properties

# Gradle nếu sau này dùng
.gradle/
build/

**/application.yaml