/* =========================
   RESET
========================= */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;

	background: #9edb8a;

	overflow-x: hidden;
}

/* =========================
   BACKGROUND
========================= */

.background {
	position: fixed;

	inset: 0;

	z-index: -2;
}

/* Sky */

.background::before {
	content: "";

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 38%;

	background: #87ceeb;
}

/* Grass */

.grass {
	position: absolute;

	bottom: 0;

	width: 100%;

	height: 62%;

	background: #a9d18e;
}

/* Trees */

.trees {
	position: absolute;

	top: 150px;

	width: 220px;

	height: 600px;

	background: linear-gradient(#5d8c44, #487536);

	border-radius: 30px;

	opacity: 0.25;
}

.trees-left {
	left: 0;
}

.trees-right {
	right: 0;
}

/* =========================
   HUD
========================= */

.hud {
	width: 90%;

	margin: 25px auto;

	display: flex;

	justify-content: space-between;

	align-items: center;
}

.player {
	display: flex;

	align-items: center;

	gap: 18px;
}

.avatar {
	width: 65px;

	height: 65px;

	border-radius: 50%;

	background: #fff;

	display: flex;

	justify-content: center;

	align-items: center;

	font-size: 30px;

	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.player h3 {
	color: black;

	font-size: 22px;
}

.player p {
	color: black;
}

.wallet {
	display: flex;

	gap: 15px;
}

.wallet div {
	padding: 12px 22px;

	border-radius: 15px;

	font-weight: bold;

	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
}

.gold {
	background: #ffd54f;
}

/* .diamond {
  background: #81d4fa;
} */

/* =========================
   TITLE
========================= */

.title-section {
	display: flex;

	justify-content: center;

	margin-top: 25px;
}

.wood-sign {
	width: 420px;

	padding: 20px;

	background: #8b5a2b;

	color: white;

	border-radius: 18px;

	border: 8px solid #6d3f16;

	text-align: center;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.wood-sign h1 {
	font-size: 42px;

	letter-spacing: 2px;
}

.wood-sign p {
	margin-top: 10px;

	color: #ffe9b7;
}

/* =========================
   SEARCH
========================= */

.search-panel {
	width: 90%;

	margin: 40px auto;

	background: #f8f4ea;

	border-radius: 18px;

	padding: 20px;

	display: flex;

	gap: 15px;

	flex-wrap: wrap;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.search-panel input {
	flex: 1;

	min-width: 260px;

	padding: 15px;

	border: none;

	outline: none;

	border-radius: 10px;

	background: #fff;
}

.search-panel select {
	padding: 15px;

	border: none;

	border-radius: 10px;

	background: white;

	cursor: pointer;
}

/* =========================
   SHOP MAIN
========================= */

.shop-main {
	width: 90%;

	margin: auto;
}
/* =========================
   FISH GRID
========================= */

.fish-grid {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

	gap: 30px;

	margin-bottom: 50px;
}

/* =========================
   FISH CARD
========================= */

.fish-card {
	background: #f8f4ea;

	border: 4px solid #c9a26b;

	border-radius: 20px;

	padding: 20px;

	text-align: center;

	transition: 0.25s;

	cursor: pointer;

	position: relative;

	overflow: hidden;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Upper Wood Panel */

.fish-card::before {
	content: "";

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 14px;

	background: #8b5a2b;
}

/* Hover */

.fish-card:hover {
	transform: translateY(-10px);

	box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

/* =========================
   IMAGE
========================= */

.fish-image {
	width: 180px;

	height: 180px;

	margin: auto;

	margin-top: 10px;

	margin-bottom: 15px;

	padding: 40px;

	border-radius: 50%;

	background: #8ed6f7;

	display: flex;

	justify-content: center;

	align-items: center;

	/* font-size: 60px; */

	transition: 0.3s;
}

.fish-image img {
	width: 150%;

	height: 150%;

	object-fit: contain;
}

.fish-card:hover .fish-image {
	transform: scale(1.08) rotate(-5deg);
}

/* =========================
   TEXT
========================= */

.stars {
	color: #f4b400;

	font-size: 20px;

	margin-bottom: 10px;
}

.fish-card h3 {
	color: #5b3a1f;

	margin-bottom: 8px;

	font-size: 24px;
}

.fish-card p {
	color: #555;

	margin: 6px 0;
}

/* =========================
   PRICE
========================= */

.price {
	margin: 20px 0;

	font-size: 22px;

	color: #d97706;

	font-weight: bold;
}

/* =========================
   BUY BUTTON
========================= */

.fish-card button {
	width: 100%;

	padding: 14px;

	border: none;

	border-radius: 12px;

	background: #5a913b;

	color: white;

	font-size: 18px;

	font-weight: bold;

	cursor: pointer;

	transition: 0.25s;
}

.fish-card button:hover {
	background: #44742b;
}

/* =========================
   NAVIGATION MENU
========================= */

.navigation-menu {
	width: 90%;
	height: 65px;
	margin: 50px auto;
	padding: 0 20px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background: #174562;
	border-radius: 18px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.navigation-menu button {
	height: 48px;
	padding: 0 18px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: 14px;
	background: transparent;

	color: white;
	font-size: 18px;
	font-weight: bold;

	cursor: pointer;
	transition: 0.25s;
}

.navigation-menu button:hover {
	transform: translateY(-3px);

	color: #ffe6a3;
}

.navigation-menu button.active {
	padding: 0 14px;
	background: #fff;
	color: #174562;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {
	.hud {
		flex-direction: column;

		gap: 20px;
	}

	.wallet {
		width: 100%;

		justify-content: center;
	}

	.wood-sign {
		width: 90%;
	}
}

@media (max-width: 600px) {
	.search-panel {
		flex-direction: column;
	}

	.navigation-menu {
		flex-direction: column;

		gap: 15px;
	}
}
/* =========================
   FISH GRID
========================= */

.fish-grid {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

	gap: 30px;

	margin-bottom: 50px;
}

/* =========================
   FISH CARD
========================= */

.fish-card {
	background: #f8f4ea;

	border: 4px solid #c9a26b;

	border-radius: 20px;

	padding: 20px;

	text-align: center;

	transition: 0.25s;

	cursor: pointer;

	position: relative;

	overflow: hidden;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Upper Wood Panel */

.fish-card::before {
	content: "";

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 14px;

	background: #8b5a2b;
}

/* Hover */

.fish-card:hover {
	transform: translateY(-10px);

	box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

/* =========================
   IMAGE
========================= */

.fish-image {
	width: 150px;

	height: 150px;

	margin: auto;

	margin-top: 10px;

	margin-bottom: 15px;

	border-radius: 50%;

	background: #8ed6f7;

	display: flex;

	justify-content: center;

	align-items: center;

	/* font-size: 60px; */

	transition: 0.3s;
}

.fish-card:hover .fish-image {
	transform: scale(1.08) rotate(-5deg);
}

.fish-image img {
	width: 150%;

	height: 150%;

	object-fit: contain;
}

/* =========================
   TEXT
========================= */

.common-rarity {
	background: #8bc34a;
	color: white;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-weight: bold;
}

.standard-rarity {
	background: #51adf8;
	color: white;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-weight: bold;
}

.premium-rarity {
	background: #db57fc;
	color: white;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-weight: bold;
}

.legendary-rarity {
	background: #f5b700;
	color: white;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-weight: bold;
}

.fish-card h3 {
	color: #5b3a1f;

	margin-bottom: 8px;

	font-size: 24px;
}

.fish-card p {
	color: #555;

	margin: 6px 0;
}

/* =========================
   PRICE
========================= */

.price {
	margin: 20px 0;

	font-size: 22px;

	color: #d97706;

	font-weight: bold;
}

/* =========================
   BUY BUTTON
========================= */

.fish-card button {
	width: 100%;

	padding: 14px;

	border: none;

	border-radius: 12px;

	background: #5a913b;

	color: white;

	font-size: 18px;

	font-weight: bold;

	cursor: pointer;

	transition: 0.25s;
}

.fish-card button:hover {
	background: #44742b;
}

/* =========================
   NAVIGATION MENU
========================= */

.navigation-menu {
	width: 90%;
	height: 65px;
	margin: 50px auto;
	padding: 0 20px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background: #174562;
	border-radius: 18px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.navigation-menu button {
	height: 48px;
	padding: 0 18px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: 14px;
	background: transparent;

	color: white;
	font-size: 18px;
	font-weight: bold;

	cursor: pointer;
	transition: 0.25s;
}

.navigation-menu button:hover {
	transform: translateY(-3px);

	color: #ffe6a3;
}

.navigation-menu button.active {
	padding: 0 14px;
	background: #fff;
	color: #174562;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {
	.hud {
		flex-direction: column;

		gap: 20px;
	}

	.wallet {
		width: 100%;

		justify-content: center;
	}

	.wood-sign {
		width: 90%;
	}
}

@media (max-width: 600px) {
	.search-panel {
		flex-direction: column;
	}

	.navigation-menu {
		flex-direction: column;

		gap: 15px;
	}
}
/* =====================
    CLOUD
======================*/

.cloud {
	position: fixed;

	width: 180px;

	height: 60px;

	background: white;

	border-radius: 50px;

	opacity: 0.75;

	z-index: -1;
}

.cloud::before {
	content: "";

	position: absolute;

	width: 80px;

	height: 80px;

	background: white;

	border-radius: 50%;

	top: -30px;

	left: 25px;
}

.cloud::after {
	content: "";

	position: absolute;

	width: 70px;

	height: 70px;

	background: white;

	border-radius: 50%;

	top: -20px;

	right: 25px;
}

.cloud1 {
	top: 40px;

	left: 120px;
}

.cloud2 {
	top: 120px;

	right: 180px;
}

.cloud3 {
	top: 210px;

	left: 45%;
}

.grass-border {
	width: 100%;

	height: 40px;

	background: repeating-linear-gradient(
		-45deg,
		#5faf3e,
		#5faf3e 10px,
		#70c149 10px,
		#70c149 20px
	);

	margin: 40px 0;
}
/* ==========================
   BUY / SELL TAB
========================== */

.market-tabs {
	width: 90%;

	margin: 20px auto;

	display: flex;

	gap: 15px;
}

.tab {
	padding: 12px 28px;

	border: none;

	border-radius: 12px;

	background: #d7c19b;

	cursor: pointer;

	font-size: 16px;

	font-weight: bold;
}

.tab.active {
	background: #5a913b;

	color: white;
}

/* ==========================
   MARKET LAYOUT
========================== */

.shop-main {
	width: 90%;

	margin: auto;

	display: grid;

	grid-template-columns: 3fr 320px;

	gap: 30px;

	align-items: start;
}

/* ==========================
   SELLER
========================== */

.seller {
	margin-top: 12px;

	padding: 8px;

	background: #efe8da;

	border-radius: 10px;

	font-size: 14px;
}

.seller span {
	display: block;

	margin-top: 4px;

	font-weight: bold;

	color: #5a913b;
}

/* ==========================
   DETAIL PANEL
========================== */

.detail-panel {
	background: #f8f4ea;

	border: 4px solid #c8a46b;

	border-radius: 18px;

	padding: 20px;

	position: sticky;

	top: 20px;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.detail-image {
	width: 180px;

	height: 180px;

	margin: auto;

	margin-bottom: 20px;

	border-radius: 50%;

	background: #9fd8f7;

	display: flex;

	justify-content: center;

	align-items: center;

	font-size: 70px;
}

.detail-image img {
	width: 70%;

	height: 70%;

	object-fit: contain;
}

.detail-panel .detail-header {
	text-align: center;

	font-size: 20px;

	font-weight: bold;

	margin-bottom: 10px;
}

.detail-panel hr {
	border: none;

	height: 2px;

	background: #c8a46b;

	margin-bottom: 15px;
}

.detail-panel .common-rarity {
	width: fit-content;
}

.detail-panel .description {
	border-left: 4px solid #c8a46b;
	padding-left: 10px;
}

.detail-panel h2 {
	text-align: center;

	margin-bottom: 15px;
}

.detail-panel p {
	margin: 10px 0;

	color: #444;
}

.detail-price {
	margin: 20px 0;

	text-align: center;

	font-size: 24px;

	color: #d97706;

	font-weight: bold;
}

.buy-btn {
	width: 100%;

	padding: 15px;

	border: none;

	border-radius: 12px;

	background: #5a913b;

	color: white;

	font-size: 18px;

	cursor: pointer;
}

.buy-btn:hover {
	background: #46772d;
}
